---
import Layout from '../layouts/Layout.astro';
import Header from '../components/ui/Header.astro';
import About from '../components/ui/About.astro';
---

<Layout title="Inicio">
  <Header />
  <main>
    <About />
  </main>

  <style></style>
</Layout>
